body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}
body .hide {
  display: none;
}

header {
  color: white;
  background-color: #111;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 100px;
  margin: 10px;
}
header #headerTitle {
  display: flex;
  align-items: center;
}
header nav {
  margin-right: 20px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li p {
  font-size: larger;
  color: white;
  text-decoration: none;
}
header nav ul li p:hover {
  color: #ff4800;
  cursor: pointer;
}

section #filter {
  display: flex;
}
section .filter-entry {
  display: flex;
}
section .hide {
  display: none;
}
section #research-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
section #research-container h2 {
  margin: 10px;
}
section #research-container h2 i {
  padding: 5px;
}
section #research-container .search-select {
  font-size: larger;
  padding: 10px;
}
section #research-container input {
  font-size: larger;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid black;
  transition: 0.24s;
}

.soiree {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 5px 5px black;
}
.soiree h3 {
  font-size: x-large;
  margin: 24px;
}
.soiree p {
  font-size: larger;
  margin: 24px;
}
.soiree .tarifs {
  display: flex;
  justify-content: center;
}
.soiree .tarifs button {
  background: none;
  box-shadow: 0 5px 5px black;
  min-width: 200px;
  max-width: fit-content;
  font-size: larger;
  text-align: center;
  padding: 10px;
  margin: 10px;
  transition: 0.24s;
}
.soiree .tarifs button:hover {
  background-color: black;
  color: #ff4800;
  cursor: pointer;
}
.soiree .spectacle-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.soiree .spectacle-container .spectacle {
  margin: 10px;
  box-shadow: 0 5px 5px black;
}
.soiree .spectacle-container .spectacle p, .soiree .spectacle-container .spectacle h3 {
  margin: 10px;
}
.soiree .spectacle-container .spectacle img, .soiree .spectacle-container .spectacle iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.soiree .lieu {
  box-shadow: 0 5px 5px black;
  border: 1px solid lightgray;
  width: fit-content;
}
.soiree .lieu img {
  width: 472px;
  aspect-ratio: 16/9;
}
.soiree .lieu p {
  min-width: 400px;
  padding: 12px;
}

.spectacle-h2 {
  text-align: center;
  margin: 20px;
}

.spectacles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 20px;
}
.spectacles-container .spectacle {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.spectacles-container .spectacle img {
  width: 100%;
  aspect-ratio: 16/9;
}
.spectacles-container .spectacle p, .spectacles-container .spectacle h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: larger;
}
.spectacles-container .spectacle:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.24s;
  cursor: pointer;
}

.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion h1 {
  font-size: 30px;
}
.connexion form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
  border: solid 1px lightgray;
  padding: 10px;
  min-width: 30vw;
  margin: 20px;
  box-shadow: 0 5px 5px black;
}
.connexion form label {
  font-style: italic;
  padding: 10px;
}
.connexion form .box {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 60%;
  font-size: 20px;
  transition: 0.24s;
}
.connexion form .box:hover {
  border: solid 1px #ff4800;
}
.connexion form .box:focus {
  border: solid 1px #ff4800;
}
.connexion form .button {
  background: none;
  padding: 10px 20px;
  margin: 10px;
  transition: 0.24s;
  width: 60%;
}
.connexion form .button:hover {
  background-color: black;
  color: #ff4800;
  cursor: pointer;
}
.connexion a {
  color: #088da5;
  text-decoration: none;
  margin: 30px;
}
.connexion a:hover {
  color: #ff4800;
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}

#cart {
  height: 100%;
  min-width: 20vw;
  max-width: 30vw;
  background-color: white;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
}
#cart #cart-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  color: white;
}
#cart #cart-head h2 {
  text-align: center;
  padding: 10px;
}
#cart #cart-head #close-cart {
  padding: 10px;
  cursor: pointer;
  transition: 0.24s;
  color: white;
  background-color: #ff4800;
}
#cart #cart-head #close-cart:hover {
  color: black;
}
#cart #cart-content {
  text-align: center;
  flex-grow: 1;
}
#cart #cart-footer {
  text-align: center;
  font-size: larger;
}
#cart #cart-footer button {
  margin: 20px;
  padding: 20px;
  width: 60%;
  background: none;
  transition: 0.24s;
}
#cart #cart-footer button:hover {
  background-color: black;
  color: #ff4800;
  cursor: pointer;
}

#cart.hide {
  transform: translateY(-50%) translateX(100%);
}

/*# sourceMappingURL=style.css.map */
