.connexion
    display: flex
    flex-direction: column
    align-items: center

    h1
        font-size: 30px

    form
        display: flex
        flex-direction: column
        align-items: center
        font-size: 20px
        text-align: center
        border: solid 1px lightgray   
        padding: 10px 
        min-width: 30vw 
        margin: 20px
        box-shadow: 0 5px 5px black   

        label
            font-style: italic
            padding: 10px

        .box
            border: solid 1px lightgray
            border-radius: 5px
            padding: 10px
            margin: 10px
            width: 60%
            font-size: 20px
            transition: 0.24s

        .box:hover
            border: solid 1px #ff4800

        .box:focus
            border: solid 1px #ff4800

        .button
            background: none
            padding: 10px 20px
            margin: 10px
            transition: 0.24s
            width: 60%
            
        .button:hover
            background-color: black
            color: #ff4800
            cursor: pointer

    #inscription-btn
        color: #088da5
        text-decoration: none
        margin: 30px
        
    #inscription-btn:hover
        color: #ff4800
        text-decoration: underline
        cursor: pointer